:root{
    --dark-blue: #0b2c4a;
    --teal-blue: #0f6c7d;
    --gold: #f0a500;
    --white: #ffffff;
    --light-gray: #e6e6e6;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
    
}

html, body {
    height: 100%;
}

body {
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
    padding: 80px 40px;
    text-align: center;
}

main h1 {
    margin-bottom: 20px;
}

main p {
    margin: 0 auto 40px;
    max-width: 800px;
    line-height: 1.8;
}

header {
    background: linear-gradient(
        135deg,
        var(--dark-blue),
        var(--teal-blue)
    );
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #0f2a44;
    position: relative;
}


nav ul {
    list-style: none;
    display: flex;

}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.logo span {
    color: var(--white);
    font-size: 25px;
    font-weight: bold;
}

.logo span strong {
    color: var(--gold);
}

.logo img {
    height: 60px;
    width: auto;
}

.logo-link img {
    height: 60px;
    width: auto;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.logo-link:hover img {
    transform: scale(1.1) rotate(-2deg);
    filter: drop-shadow(0 6px 12px rgba(240, 165, 0, 0.6));
}

.logo-link:active img {
    transform: scale(0.95);
}

.hero {
    background: linear-gradient(
        135deg,
        var(--dark-blue),
        var(--teal-blue)
    );
    background-size: cover;
    background-position: center;
    color: var(--white);
    text-align: center;
    padding: 80px 20px;
}


.hero h1 {
    font-size: 50px;
    margin-bottom: 15px;
    color: var(--white);
}

.hero p {
    font-size: 20px;
    color: var(--light-gray);
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

.hero.home-hero {
    position: relative;
    background-image:
        linear-gradient(
            rgba(15, 42, 68, 0.85),
            rgba(15, 42, 68, 0.85)
        ),
        url("../image/insurance.jfif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    padding: 120px 20px;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 15px 0;
}

.nav-links.active {
    display: flex;
}

.nav-links li a {
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 30px;
    background-color: #ffcc00;
    color: #0f2a44;
    text-decoration: none; 
    border-radius: 30px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.services {
    background-image:
        linear-gradient(
            rgba(15, 42, 68, 0.85),
            rgba(15, 42, 68, 0.85)
        ),
        url("../image/buildings.jfif");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;

    padding: 80px 40px;
}


.service-box {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.service-box h3 {
    margin-bottom: 10px;
    color: var(--dark-blue);
}

.service-box p {
    color: #333;
}

.service-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(56, 189, 248, 0.4);
}

.contact {
    background: 
        linear-gradient(rgba(15, 42, 68, 0.85), rgba(15, 42, 68, 0.85)),
        url("../image/contact.jfif");
    background-size: cover;
    background-position: center;
    padding: 80px 20px;

}

.contact-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 14px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.contact-box:hover {
    box-shadow: 0 0 25px rgba(56, 189, 248, 0.6);
    transform: translateY(-6px);
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

.contact-box input:focus,
.contact-box textarea:focus {
    border-color: #38bdf8;
    box-shadow: 0 0 12px rgba(56, 189, 248, 0.6);
}

.contact-box button {
    background-color: #0f2a44;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    padding: 14px;
}

.contact-box button:hover {
    background-color: #0b1f33;
}

.contact form {
    max-width: 500px;
    margin:  auto;
    padding: 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.about-bg {
    background:
        linear-gradient(rgba(15, 42, 68, 0.85), rgba(15, 42, 68, 0.85)),
        url("../image/proffesionals.jfif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content {
    position: relative;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(2px);
    padding: 80px 40px;
    text-align: center;
}

.content * {
    position: relative;
    z-index: 2;
}

.content h2{
    color: #ffcc00;
    margin-bottom: 40px;
}

.content ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.content ul li {
    color: #ffffff !important;
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 17px;
    border-radius: 8px;
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.content ul li:hover {
    transform: scale(1.04) translateY(4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.12);
}

@media (max-width: 768px) {
    .home-hero {
        background-attachment: scroll;
        padding: 90px 20px;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
    }

    nav {
        flex-direction: row;
    }

    .hamburger {
        display: flex !important;
    }


    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: #0f2a44;
        flex-direction: column;
        width: 100%;
        display: none;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
}

.nav-links li {
        margin: 15px 0;
    }

    .nav-links li a {
        padding: 10px 20px;
    }

    .contact {
        background: #f5f7da;
    }

    .content {
        padding: 60px 20px;
        background: #0f2a44;
    }

    .content ul li:hover {
        transform: none;
        box-shadow: none;
    }

    .partnership-content {
        flex-direction: column;
        text-align: center;
    }

    .partner-card {
        margin-bottom: 20px;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
}

footer {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 40px 20px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.footer-box h4 {
    margin-bottom: 12px;
    font-size: 18px;
}

.footer-box p{
    margin-bottom: 8px;
    font-size: 15px;
}

.whatsapp-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #25d366;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
}

footer .copyright{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.faq {
    width: 100%;
    padding: 80px 0;
    background: transparent;
    margin: auto;
    border-radius: 0;
    display: block !important;
}

.faq h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--gold);
}

.faq-item {
    max-width: 800px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(6, 6, 28, 0.8);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    margin: 0 auto 15px;
}

.faq-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.faq-question {
    padding: 18px 20px;
    cursor: pointer;
    font-weight: bold;
    color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    padding: 0 20px;
    color: #555;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    max-height: 0;
}

.faq-item.active .faq-answer {
    padding: 15px 20px 20px;
    max-height: 200px;
}

.faq-item.icon {
    font-size: 20px;
    transition: transform 0.3s;
}

.faq-item.active .icon {
    transform: rotate(45deg);
}

.faq-inner {
    max-width: 900px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 20px;
    padding-right: 20px;
}

.partnership {
    padding: 80px 20px;
    background:
        linear-gradient(
            135deg,
            var(--dark-blue),
            var(--teal-blue)
        );
}

.partnership-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.partner-card {
    background: #f5f7fa;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 240px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-card:hover {
    transform: scale(1.03);
    box-shadow: 0 7px rgba(34, 197, 94, 0.8);
}

.partner-card img {
    max-width: 160px;
    height: auto;
}

.partner-text {
    color: #ffffff;
    max-width: 650px;
}

.partner-text h2 {
    margin-bottom: 15px;
    color: var(--gold);
}

.partner-text p {
    line-height: 1.7;
    font-family: 17px;
}

.content,
.faq {
    background: transparent;
    backdrop-filter: blur(2px);
}

.why-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: auto;
    max-width: 1000px;
}

.why-card {
    background: rgba(255, 255, 255, 0.12);
    padding: 30px 25px;
    border-radius: 14px;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.why-card:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.why-card h3 {
    margin-bottom: 12px;
    color: var(--gold);
    font-size: 18px;
}

.why-card p {
    line-height: 1.6;
    font-size: 15px;
}

.stat-card strong {
    display: block;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: var(--gold);
}



a {
    color: var(--gold);
}

a:hover {
    opacity: 0.8;
}